<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix recommender system</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <script>
        $(document).ready(function() {
            $('#movieInput').on('input', function() { 
                var query = $(this).val();
                if (query) {
                    $.get('/suggest_movie', { q: query }, function(data) {
                        var suggestions = $('#suggestions');
                        suggestions.empty();
                        
                        data.forEach(function(movie) {
                            suggestions.append('<li>' + movie + '</li>');
                        });
                        suggestions.find('li').on('click', function() {
                            var selectedMovie = $(this).text();
                            $('#movieInput').val(selectedMovie);
                            $('#selectedMovie').val(selectedMovie);
                            // window.location.href = '/movie_detail?title=' + selectedMovie;
        
                        });
  
                    });
                } else {
                    $('#suggestions').empty();
                }
            });
            $('#forward').on('click', function() {
            var selectedMovie = $('#movieInput').val();
            if (selectedMovie) {
                window.location.href = '/movie_detail?title=' + selectedMovie;
            }
        });
        });
    </script>
    <div class = "header">
        <nav>
            <img src="{{ url_for('static', filename='logo.png') }}" class ="logo">
            <!-- <div>
                <button class="language-btn">English<img src = "{{ url_for('static', filename='down-icon.png') }}"></button>
                <button>Sign In</button>
            </div>     -->
        </nav>
        <div class = "header-content">
            <h1>Unlimited movies, TV shows and more.</h1>
            <h3> Watch anywhere. Cancel anytime.</h3>
            <p> Ready to watch? Enter your name films you likes.</p>
            <form class="name-films">
                <input type="text" id="movieInput" placeholder="Name films">
                <input type="hidden" id="selectedMovie" name="selectedMovie">
    
                <div class="dropdown">
                    <ul id="suggestions" class="dropdown-content"></ul>
                </div>  
            </form>
            <button type="submit" id ="forward">Get Started</button>
        </div>

    </div>
    <div class = "features">
        <div class= "row">
            <div class="text-col">
                <h2>Enjoy on your TV.</h2>
                <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
            </div>
            <div class="img-col">
                <img src="{{ url_for('static', filename='feature-1.png') }}" >
            </div>

        </div>
        <!-- <div class= "row">
            <div class="img-col">
                <img src="images/feature-2.png" >
            </div>

            <div class="text-col">
                <h2>Download your shows to watch offline</h2>
                <p>Save your favorites easily and always have something to watch.</p>
            </div>
        </div>         -->
        <!-- <div class= "row">

            <div class="text-col">
                <h2>Watch everywhere</h2>
                <p>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
                </p>
            </div>
            <div class="img-col">
                <img src="images/feature-3.png" >
            </div>

        </div> -->
        <!-- <div class= "row">
            <div class="img-col">
                <img src="images/feature-4.png" >
            </div>

            <div class="text-col">
                <h2>Create profiles for kids</h2>
                <p>Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</p>
            </div>


        </div> -->
        <!-- <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="first">
                    <label for="first">What is Netflix?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam nostrum quos dolorum nemo error repellendus, dicta in odit officiis vero itaque, odio, impedit est explicabo facilis aliquid hic voluptatum!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="second">
                    <label for="second">How much does Netflix cost?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam nostrum quos dolorum nemo error repellendus, dicta in odit officiis vero itaque, odio, impedit est explicabo facilis aliquid hic voluptatum!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="third">
                    <label for="third">Where can I watch</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam nostrum quos dolorum nemo error repellendus, dicta in odit officiis vero itaque, odio, impedit est explicabo facilis aliquid hic voluptatum!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="fourth">
                    <label for="fourth">How do I cancel?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam nostrum quos dolorum nemo error repellendus, dicta in odit officiis vero itaque, odio, impedit est explicabo facilis aliquid hic voluptatum!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="fifth">
                    <label for="fifth">What can I on Netflix?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam nostrum quos dolorum nemo error repellendus, dicta in odit officiis vero itaque, odio, impedit est explicabo facilis aliquid hic voluptatum!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="sixth">
                    <label for="sixth">Is Netflix good for kids?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam nostrum quos dolorum nemo error repellendus, dicta in odit officiis vero itaque, odio, impedit est explicabo facilis aliquid hic voluptatum!</p>
                    </div>
                </li>
            </ul>
        </div> -->


        <!-- <div class="footer">
            <h2>Questions? call 000-000-000-000</h2>
            <div class="row">
                <div class="col">
                    <a href="#">FAQ</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Privacy</a>
                    <a href="#">Speed Test</a>
                </div>
                <div class="col">
                    <a href="#">Help Center</a>
                    <a href="#">Jobs</a>
                    <a href="#">Cookies Preferences</a>
                    <a href="#">Legal Notices</a>
                </div>
                <div class="col">
                    <a href="#">Account</a>
                    <a href="#">Ways to watch</a>
                    <a href="#">Corporate Information</a>
                    <a href="#">Only on Netflix</a>
                </div>
                <div class="col">
                    <a href="#">Media Centre</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>          
        </div> -->
        <!-- <button class="language-btn">English<img src="images/down-icon.png"></button> -->
        <!-- <p class="copyright-txt">Netflix</p> -->
    </div>

    
</body>
</html>